<!DOCTYPE html>
<html>

     <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block jquery %}
            {% javascripts 
                'js/jquery-1.11.3.min.js' 
                'js/bootstrap.min.js' 
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}

        {% block stylesheets %}
            {% stylesheets 
                'css/bootstrap.min.css'
                'css/style.css' 
                filter='cssrewrite' 
            %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock %}
    </head>

    <body>
    {% block body %}
        {% block nav %}
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">SES</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/hem">Hem</a>
                    </li>
                    <li>
                        <a href="/anstallda">Personal</a>
                    </li>
                    <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Matcher <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{path('_admin_games')}}">Administrera matcher</a></li>
            <li><a href="{{path('_games')}}">Alla matcher</a></li>
            
                </ul>
                    </li>
                    <li>
                        <a href="{{ path('_messageboard', { 'id': 1 }) }}">Anslagstavla</a>
                    </li>
                     <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Meddelande <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/messages/new_message">Skriv ett meddelande</a></li>
            <li><a href="/messages">Se meddelanden</a></li>
                </ul>
                    </li>
                    <li>
                        <a href="/veckoplanering">Veckoplanering</a>
                    </li>
                    <li>
                        <a href="/logout">Logga ut</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    {% endblock %}
        {% block javascripts %}
        {% javascripts 
 
            
            'js/js.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% endblock %}
    {% endblock %}
    </body>

</html>






