{% for trade in booking.trade|slice(booking.trade|length - 1, booking.trade|length) %}
    {% if trade.tradeAcceptedUser != null and trade.tradeApprovedUser != null %}
        <i class="fa fa-flag" id="green_flag" title="Godkänt byte"></i>
    {% elseif trade.tradeAcceptedUser != null and trade.tradeApprovedUser == null %}
        <i class="fa fa-flag" id="yellow_flag" title="Byte som väntar på att godkännas"></i>
    {% else %}
        <i class="fa fa-flag" id="red_flag" title="Byte som ingen tagit ännu"></i>
    {% endif %} 
{% endfor %}