<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {% endblock %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="{{ asset('css/home.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/circle.css') }}" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block content %}
{% block nav %}
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{path('_home')}}">SES</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{path('_home')}}">Start</a>
                    </li>
                    <li>
                        <a href="{{path('_my_games')}}">Min sida</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Meddelande 
                        <span class="caret"></span>
                        </a>
                        
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{path('_messages')}}">Meddelanden</a>
                        </li>
                        <li>
                            <a href="{{path('_new_message')}}">Skriv ett meddelande</a>
                        </li>
                    </ul>
                </li>
                    {% else %}
                    <li>
                            <a href="{{path('_messages')}}">Meddelanden</a>
                        </li>
                    {% endif %}
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Matcher <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{path('_admin_games')}}">Administrera matcher</a>
                            </li>
                            <li>
                                <a href="{{path('_games')}}">Matcher</a>
                            </li>
                        </ul>
                    </li>
                    {% else %}
                    <li>
                                <a href="{{path('_games')}}">Matcher</a>
                            </li>
                {% endif %}
                    <li>
                        <a href="{{path('_trade')}}">Passbyten</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="{{path('_report')}}">Rapport</a>
                    </li>
                    {% endif %}
                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Personal 
                        <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('fos_user_profile_show') }}">Profil</a>
                            </li>
                            <li>
                                <a href="/profile/show_all">Personal</a>
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}
                             <li>
                                <a href="/profile/edit_users">Hantera personal</a>
                            </li>
                            {% endif %}
                        </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ path('_messageboard', { 'id': 1 }) }}">Anslagstavlan</a>
                    </li>


                    <li>
                        <a href="/logout">Logga ut</a>
                    </li>
                

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    {% endblock %}{% endblock %}

    {% block body %}
    {% endblock body %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="{{ asset('js/modal.js') }}"></script>



{% block javascripts %}
            {% javascripts %}
            {% endjavascripts %}
    {% endblock %}
</body>
</html>
