{% include 'home.html.twig' %}

{% block body %}
	
<div class="container">
        <div class="row">
            <div class="col-lg-10">
               
    <div class="modal" id="gameModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

            </div>
        </div>
    </div>
    
    <h3><i class="fa fa-cogs"></i> Administrera matcher</h3>
    <a class="active_sublink" href="#">Kommande matcher</a> | <a href="{{path('_admin_played_games')}}">Spelade Matcher</a> | <a href="{{path('_admin_unbooked_games')}}">Ej fullbokade matcher</a> | <a href="#">SHL</a> | <a href="#">HA</a> | <a href="{{path('_admin_all_games')}}"> | Alla matcher</a>
	{% for gameday in future_gamedays %}

		<div class="panel panel-default" id="gametest_panel">
			<div class="panel-heading" id="gametest_panel_heading"><i class="fa fa-calendar-o"></i> {{gameday.date|date("l")}} {{gameday.date|date("Y-m-d")}}
				<div class="btn-group">
  					<button class="btn btn-default btn-xs dropdown-toggle" id="booking_button" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">	<i class="fa fa-users"></i> <b>Boka</b> <span class="caret"></span></button>
  						<ul class="dropdown-menu">
  							<li>
  								<a data-toggle="modal" data-target="#gameModal" href="{{ path('_game_booking', {'id': gameday.id }) }}">Matchbokning</a>
  							</li>
  							{% for type in gameday.gamedayTypes %}
  								<li>
  									<a data-toggle="modal" data-target="#gameModal" href="/games/admin_games/gameday_booking/{{gameday.id}}/{{type.type.id}}">{{type.type.name}}</a>
  								</li>	
  							{% endfor %}	
    						
  						</ul>
				</div>
			</div>
				
			<table class="table" id="game_table">
				<tr>
					<th>Tid</th>
					<th>Match</th>
					<th>Highlights</th>
				</tr>
			{% for game in gameday.game %}
				<tr>
					<td>{{ game.datetime|date('H:i')}}</td>
					<td>{{game.name}}</td> 
					{% for type in game.gamesTypes %}

						<td id="game_td-{{game.id}}">
							{% if type.game.gameBooking|length == 0 %}
								<a data-toggle="modal" data-target="#gameModal" href="/games/admin_games/specific_game_booking/{{game.gameday.id}}/{{game.id}}/{{type.type.id}}"><i class="fa fa-user-plus"></i></a>
							{% endif %}
							{% for booking in type.game.gameBooking %}</a> 

								<a data-toggle="modal" data-target="#gameModal" href="/games/admin_games/game_booking/{{booking.id}}/update">{{booking.user.cn}}</a>	
					{% endfor %}
				 {% endfor %}</td>
				</tr>
			{% endfor %}
			</table>			

			<table class="table" id="types_table">
				<tr id="gameday_tr-{{gameday.id}}">

				{% for booking in gameday.gamedayBooking %}

						<th id="gameday_th-{{booking.id}}">{{booking.type.name}}: 
							{% if booking.user.cn is defined %} 
								<a data-toggle="modal" data-target="#gameModal" href="{{ path('_update_gameday_booking', {'id': booking.id }) }}">	{{booking.user.cn}}</a>
							{% endif %}
						<th>
				{% endfor %}
			</th>
		</table>
		</div>

	{% endfor %}
<script src="{{ asset('js/js.js') }}"></script>
<script src="{{ asset('js/game_booking.js') }}"></script>
<script src="{{ asset('js/game_booking_update.js') }}"></script>
<script src="{{ asset('js/gameday_booking.js') }}"></script>
<script src="{{ asset('js/gameday_booking_update.js') }}"></script>

{% endblock %}
	
	
