<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Boka </title>
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
</head>

<body>
	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title">

        </h5>
      </div>
      

<div class="modal_gameday_booking">

{{ form_start(form) }}
    {{ form_errors(form) }}
    <table id="gameday_booking_table">
        <tr>
            <th>
                {{ form_label(form.user) }}
                {{ form_errors(form.user) }}
                {{ form_widget(form.user) }}
            </th>
            <th>
                {{ form_widget(form.save) }}
            </th>
        </tr>
        {{ form_end(form) }}
    </table>
</div>

<div class="alert alert-info" id="booking_info" role="alert">Välj ett namn i listan.</div>

<div class="alert alert-success" id="booking_success" role="alert"> Bokningen sparades!</div>
<div class="alert alert-danger" id="booking_fail" role="alert">"Namn" är redan bokad!</div>


<script type="text/javascript">
    
</script>
</body>

</html>