<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Betyg</title>
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
</head>

<body>
	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title">
            Betyg
        </h5>
      </div>

<div class="modal_gameday_booking">

{{ form_start(form) }}
    {{ form_errors(form) }}
    <table id="gameday_booking_table">
        <tr>
            <th>
                {{ form_label(form.grade) }}
                {{ form_errors(form.grade) }}
                {{ form_widget(form.grade) }}
            </th>
            <th>
                {{ form_widget(form.save) }}
            </th>
            <th>
                <i class="fa fa-check fa-2x" id="booking_check"></i>
            </th>
        </tr>
        {{ form_end(form) }}
    </table>
</div>

<div class="modal-footer">
    <button id="delete_booking_button" class="btn btn-danger">Ta bort betyg</button>
</div>
<script type="text/javascript">
    gameGrade({{game.id}})
    deleteGameGrade({{game.id}})
</script>
</body>

</html>