<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Boka {{gameday_types.type.name}}</title>
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
</head>

<body>
	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title">
            Boka {{gameday_types.type.name}} ({{gameday_types.quantity}})
        </h5>
      </div>

<div class="modal_gameday_booking">

{{ form_start(form) }}
    {{ form_errors(form) }}
    <table id="gameday_booking_table">
        <tr>
            <th>
                {{ form_label(form.user) }}
                {{ form_errors(form.user) }}
                {{ form_widget(form.user) }}
            </th>
            <th>
                {{ form_widget(form.save) }}
            </th>
            <th>
                <i class="fa fa-check fa-2x" id="booking_check"></i>
                <i class="fa fa-times fa-2x" id="booking_cross"></i>
            </th>
        </tr>
        {{ form_end(form) }}
    </table>
</div>

<div class="alert alert-danger" id="booking_fail" role="alert"></div>

<div class="alert alert-warning" id="booking_warning" role="alert"><i class="fa fa-exclamation-triangle"></i></div>
<div class="modal-footer" id="booking_footer">
    <button id="undo_booking_button" class="btn btn-warning">Ångra bokning</button>
</div>
<script type="text/javascript">
    gamedayBooking({{gameday.id}}, {{gameday_types.type.id}});    
</script>
</body>

</html>