<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Boka </title>
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
</head>

<body>
	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title">
            Bokning
        </h5>
      </div>
      

<div class="modal_gameday_booking">

{{ form_start(form) }}
    {{ form_errors(form) }}
    <table id="gameday_booking_table">
        <tr>
            <th>
                {{ form_label(form.user) }}
                {{ form_errors(form.user) }}
                {{ form_widget(form.user) }}
            </th>
            <th>
                {{ form_label(form.type) }}
                {{ form_errors(form.type) }}
                {{ form_widget(form.type) }}
            </th>
        </tr>
        <tr>
            <td>
                {{ form_widget(form.save) }}
            </td>
            <td>
                <i class="fa fa-check fa-2x" id="booking_check"></i>
                <i class="fa fa-times fa-2x" id="booking_cross"></i>
            </td>
        </tr>
        {{ form_end(form) }}
    </table>
</div>
<div class="alert alert-danger" id="booking_fail" role="alert"></div>
<div class="alert alert-success" id="booking_delete" role="alert">Bokningen togs bort!</div>
<div class="alert alert-warning" id="booking_warning" role="alert"><i class="fa fa-exclamation-triangle"></i></div>
<div class="modal-footer">
    <button id="delete_booking_button" class="btn btn-danger">Ta bort bokning</button>
</div>
<script type="text/javascript">
    updateGameBooking({{booking.id}});
    deleteGameBooking({{booking.id}})
</script>
</body>

</html>