{% include 'home.html.twig' %}

{% block body %}
<div class="container">
        <div class="row">
            <div class="container-fluid">
               
    <div class="modal" id="gameModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

            </div>
        </div>
    </div>
    <h3><i class="fa fa-gg"></i> Matcher</h3>
    <a class="active_sublink" href="{{path('games')}}">Kommande matcher</a> | <a href="{{path('played_games')}}">Spelade matcher</a>
<div id="all_future_games">
	{% for gameday in future_gamedays %}

		<div class="panel panel-default" id="game_index_panel">
			<div class="panel-heading" id="gametest_panel_heading"><i class="fa fa-calendar-o"></i> {{gameday.date|date("l")}} {{gameday.date|date("Y-m-d")}}
				
			</div>
				
			<table class="table" id="game_table">
				<tr>
					<th><i class="fa fa-clock-o"></i> Tid</th>
					<th><i class="fa fa-caret-square-o-right"></i> Match</th>
					<th><i class="fa fa-film"></i> Highlights</th>
					
				</tr>
			{% for game in gameday.game %}
				<tr>
					<td>{{ game.datetime|date('H:i')}}</td>
					<td>{{game.name}}</td> 
					{% for type in game.gamesTypes %}
						<td class="show_name" id="game_td-{{game.id}}">
							{% for booking in type.game.gameBooking %}
								{% if booking.user == user %} 
									<a id="current_user"><i class="fa fa-user"></i> {{booking.user.cn}}
									{% include 'flags.html.twig' %} </a>
								{% else %}
									{{booking.user.cn}}
									{% include 'flags.html.twig' %}
								{% endif %}

							{% endfor %}
					{% endfor %}
						</td>
					
				</tr>
			{% endfor %}
			</table>			

			<table class="table" id="types_table">
				<tr id="gameday_tr-{{gameday.id}}">

				{% for booking in gameday.gamedayBooking %}
					<th id="gameday_th-{{booking.id}}">
						{% if booking.type.id == 3 %}
							<i class="fa fa-align-left"></i>
						{% elseif booking.type.id == 2 %}
							<i class="fa fa-television"></i>
						{% elseif booking.type.id == 4 %}
							<i class="fa fa-phone"></i>
						{% elseif booking.type.id == 5 %}
							<i class="fa fa-signal"></i>
						{% endif %}{{booking.type.name}}: 
					{% if booking.user.cn is defined %} 
						{% if booking.user == user %}
							<a id="current_user"><i class="fa fa-user"></i> {{booking.user.cn}}</a>
						{% else %}
							<a>{{booking.user.cn}}</a>
						{% endif %}
					{% endif %}
					{% include 'flags.html.twig' %}
				{% endfor %}
			</th>
		</table>
		</div>
{% endfor %}
</div>


</div>
</div>
</div>
	
<script src="{{ asset('js/js.js') }}"></script>
{% endblock %}
	
	
