{% extends 'home.html.twig' %}

{% block body %}
<div class="container">
<div class="row">
<div class="container-fluid">
               
    <div class="modal" id="myGamesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

            </div>
        </div>
    </div>
    <h3><i class="fa fa-user"></i> {{user.cn}}</h3> 
    <a href="{{path('my_games')}}">Start</a> | <a href="{{path('my_comming_games')}}">Kommande matcher</a> | <a class="active_sublink" href="{{path('my_played_games')}}">Genomförda matcher</a>  | <a href="{{path('my_trades')}}">Mina byten</a>
</div>

{% if complete_game_bookings != null %}
	<div class="col-md-6" id="completed_game_bookings">
<div class="panel panel-default" id="completed_game_bookings">
			<div class="panel-heading" id="gametest_panel_heading"><i class="fa fa-calendar-check-o"></i> Matchbokningar</div>

		<table class="table" id="game_table">
				<tr>
					<th><i class="fa fa-clock-o"></i> Datum & tid</th>
					<th>Typ</th>
					<th><i class="fa fa-caret-square-o-right"></i> Match</th>
					<th><i class="fa fa-star-o"></i> Betyg</th>
				</tr>
			{% for booking in complete_game_bookings %}
				<tr>
					<td>{{booking.game.datetime|date('j/m')}} {{booking.game.datetime|date('l')}} {{booking.game.datetime|date('H:i')}}</td>

					<td><i class="fa fa-film"></i> {{booking.type.name}}</td>
					<td>{{booking.game.name}}</td>
					<td id="grade_td-{{booking.game.id}}">
						{% if booking.game.grade != null %}
							<a data-toggle="modal" data-target="#myGamesModal" href="{{ path('_game_grade', {'id': booking.game.id}) }}">{{booking.game.grade}}</a>
						{% else %}
							<a data-toggle="modal" data-target="#myGamesModal" href="{{ path('_game_grade', {'id': booking.game.id}) }}"><i class="fa fa-minus"></i></a>
						{% endif %}	
					</td>				
			{% endfor %}
			</table>			
	</div>
</div>
{% endif %}



{% if complete_gameday_bookings != null %}
	<div class="col-md-6" id="completed_gameday_bookings">
<div class="panel panel-default" id="completed_gameday_bookings">
			<div class="panel-heading" id="gametest_panel_heading"><i class="fa fa-calendar-check-o"></i> Matchdagsbokningar</div>

		<table class="table" id="game_table">
				<tr>
					<th><i class="fa fa-clock-o"></i> Datum & tid</th>
					<th>Typ</th>
				</tr>
			{% for booking in complete_gameday_bookings %}
				<tr>
					<td>{{booking.gameday.date|date('j/m')}} {{booking.gameday.date|date('l')}} {{booking.gameday.date|date('H:i')}}</td>

					<td>{% if booking.type.id == 3 %}
							<i class="fa fa-align-left"></i>
						{% elseif booking.type.id == 2 %}
							<i class="fa fa-television"></i>
						{% elseif booking.type.id == 4 %}
							<i class="fa fa-phone"></i>
						{% elseif booking.type.id == 5 %}
							<i class="fa fa-signal"></i>
						{% endif %} {{booking.type.name}}</td>

			{% endfor %}
			</table>			
	</div>

</div>
{% endif %}


</div>
</div>
</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/js.js') }}"></script>
<script src="{{ asset('js/game_grade.js') }}"></script>
<script src="{{ asset('js/new_gamebooking_trade.js') }}"></script>
<script type="text/javascript">
    gameGrade();   
</script>
{% endblock javascripts %}