{% extends 'home.html.twig' %}

{% block body %}
<div class="container">
<div class="row">
<div class="container-fluid">
               
    <div class="modal" id="myGamesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

            </div>
        </div>
    </div>
    <h3><i class="fa fa-user"></i> {{user.cn}}</h3> 
    <a href="{{path('my_games')}}">Start</a> | <a href="{{path('my_comming_games')}}">Kommande matcher</a> | <a href="{{path('my_played_games')}}">Genomförda matcher</a> | <a class="active_sublink" href="{{path('my_trades')}}">Mina byten</a>


	{% if game_trades|length != 0 %}
	<div class="panel panel-default" id="upcomming_game_trades">
			<div class="panel-heading" id="gametest_panel_heading"><i class="fa fa-exchange"></i> Matchbokningar</div>

		<table class="table" id="trade_table">
				<tr>
					<th>Datum & tid</th>
					<th>Typ</th>
					<th>Match</th>
					<th>Byte skapat</th>
					<th>Accepterat av</th>
					<th>Godkänd</th>
					<th>Status</th>
					<th>Ångra byte?</th>
				</tr>
			{% for trade in game_trades %}
				<tr>
					<td>{{trade.gamebooking.game.datetime|date('j/m')}} {{trade.gamebooking.game.datetime|date('H:i')}} </td>

					<td>{{trade.gamebooking.type.name}}</td>
					<td>{{trade.gamebooking.game.name}}</td>
					{% if user == trade.tradeUser%}<td class="user_td">{% else %}<td>{% endif %}{{trade.tradeUser.cn}}  {{trade.tradeCreatedDate|date("y-m-d H:i")}}</td>
					{% if user == trade.tradeAcceptedUser%}<td class="user_td">{% else %}<td>{% endif %}{% if trade.tradeAcceptedUser != null %} {{trade.tradeAcceptedUser.cn}} {% else %} - {% endif %}</td>
					<td>{% if trade.tradeApprovedUser != null %} {{trade.tradeApprovedUser.cn}} {{trade.tradeApprovedDate|date("y-m-d H:i")}} {% else %} - {% endif %}</td>
					<td>{% if trade.tradeAcceptedUser != null and trade.tradeApprovedUser != null %}
        				<i class="fa fa-flag" id="green_flag"></i>
					    {% elseif trade.tradeAcceptedUser != null and trade.tradeApprovedUser == null %}
					        <i class="fa fa-flag" id="yellow_flag"></i>
					    {% else %}
					        <i class="fa fa-flag" id="red_flag"></i>
					    {% endif %} </td>	
					<td>{% if trade.tradeApprovedUser == null and trade.tradeUser == user %}<a data-toggle="modal" data-target="#myGamesModal" href="{{ path('accept_remove_game_trade', {'id': trade.id }) }}"><i class="fa fa-trash-o"></i></a>
						{% elseif trade.tradeAcceptedUser == user and trade.tradeApprovedUser == null %}<a data-toggle="modal" data-target="#myGamesModal" href="{{ path('undo_game_trade', {'id': trade.id }) }}"><i class="fa fa-trash-o"></i></a>{% endif %}
					</td>
			{% endfor %}
			</table>			
	</div>
{% endif %}
{% if gameday_trades|length != 0 %}
<div class="panel panel-default" id="upcomming_game_trades">
			<div class="panel-heading" id="gametest_panel_heading"><i class="fa fa-exchange"></i> Matchdagsbokningar</div>

		<table class="table" id="trade_table">
				<tr>
					<th>Datum & tid</th>
					<th>Typ</th>
					<th>Byte skapat</th>
					<th>Accepterat av</th>
					<th>Godkänd</th>
					<th>Status</th>
					<th>Ångra byte?</th>
				</tr>
			{% for trade in gameday_trades %}
				<tr>
					<td>{{trade.gamedayBooking.gameday.date|date('j/m')}} {{trade.gamedayBooking.gameday.date|date('H:i')}} </td>

					<td>{{trade.gamedayBooking.type.name}}</td>
					{% if user == trade.tradeUser%}<td class="user_td">{% else %}<td>{% endif %}{{trade.tradeUser.cn}} {{trade.tradeCreated|date("y-m-d H:i")}}</td>
					{% if user == trade.tradeAcceptedUser%}<td class="user_td">{% else %}<td>{% endif %}
					{% if trade.tradeAcceptedUser != null %} {{trade.tradeAcceptedUser.cn}} {% else %} - {% endif %}</td>
					<td>{% if trade.tradeApprovedUser != null %} {{trade.tradeApprovedUser.cn}} {{trade.tradeApprovedDate|date("y-m-d H:i")}} {% else %} - {% endif %}</td>
					<td>{% if trade.tradeAcceptedUser != null and trade.tradeApprovedUser != null %}
        				<i class="fa fa-flag" id="green_flag"></i>
					    {% elseif trade.tradeAcceptedUser != null and trade.tradeApprovedUser == null %}
					        <i class="fa fa-flag" id="yellow_flag"></i>
					    {% else %}
					        <i class="fa fa-flag" id="red_flag"></i>
					    {% endif %} </td>
					    <td>{% if trade.tradeApprovedUser == null and trade.tradeUser == user %}<a data-toggle="modal" data-target="#myGamesModal" href="{{ path('accept_remove_gameday_trade', {'id': trade.id }) }}"><i class="fa fa-trash-o"></i></a>
					    	{% elseif trade.tradeAcceptedUser == user and trade.tradeApprovedUser == null %}
					    		<a data-toggle="modal" data-target="#myGamesModal" href="{{ path('undo_gameday_trade', {'id': trade.id }) }}"><i class="fa fa-trash-o"></i></a>
					    {% endif %}</td>	
			{% endfor %}
			</table>			
	</div>
</div>
{% endif %}

</div>
</div>
</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/js.js') }}"></script>
<script src="{{ asset('js/game_grade.js') }}"></script>
<script src="{{ asset('js/new_gamebooking_trade.js') }}"></script>

<script type="text/javascript">
    gameGrade();
</script>
{% endblock javascripts %}