{% if booking.type.id == 3 %}
<i class="fa fa-align-left"></i>
{% elseif booking.type.id == 2 %}
<i class="fa fa-television"></i>
{% elseif booking.type.id == 4 %}
<i class="fa fa-phone"></i>
{% elseif booking.type.id == 5 %}
<i class="fa fa-signal"></i>
{% endif %}