{% include 'home.html.twig' %}

{% block body %}
<div class="container">
<div class="row">
<div class="container-fluid">
               
    <div class="modal" id="myGamesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

            </div>
        </div>
    </div>
    <h3><i class="fa fa-exchange"></i></i> Byten <i class="fa fa-flag" id="yellow_flag" title="Byte som väntar på att godkännas"></i></h3>
    <a href="{{path('_trade')}}">Byten</a> | <a class="active_sublink" href="{{path('_trade_accepted')}}">Avvaktande byten</a> | <a href="{{path('_trade_approved')}}">Genomförda byten</a> 
   </div>
       <div class="col-md-6">
    
	<div class="panel panel-default" id="my_five_game_bookings">
			<div class="panel-heading" id="gametest_panel_heading">Matchbyten</div>
			{% if trades != null %}
		<table class="table" id="trade_table">
				<tr>
					<th>Tid</th>
					<th>Match</th>
					<th>Typ</th>
					<th>Användare</th>
					<th>Accepterad</th>
					<th>Godkänn?</th>
				</tr>
			{% for trade in trades %}
				<tr>
					<td>{{trade.gamebooking.game.datetime|date("Y-m-d H:i")}}</td>
					<td>{{trade.gamebooking.game.name}}</td>
					<td>{{trade.gamebooking.type.name}}</td>
					<td>{{trade.gamebooking.user.cn}}</td>
					<td>{{trade.tradeAcceptedUser.cn}}</td>
					<td><a data-toggle="modal" data-target="#myGamesModal" href="{{ path('_approve_trade_gamebooking', {'id': trade.id }) }}"><i class="fa fa-info"></i></td>					
			{% endfor %}
			</table>
			{% else %}
	<h4>Det finns inget här just nu.. :(</h4>
{% endif %}			
	</div>
	

</div>

  <div class="col-md-6">
    
	<div class="panel panel-default" id="my_five_game_bookings">
			<div class="panel-heading" id="gametest_panel_heading">Matchdagsbyten</div>
	{% if gameday_trades != null %}
		<table class="table" id="trade_table">
				<tr>
					<th>Tid</th>
					<th>Typ</th>
					<th>Användare</th>
					<th>Accepterad</th>
					<th>Godkänn?</th>
					
				</tr>
			{% for trade in gameday_trades %}
				<tr>
					<td>{{trade.gamedayBooking.gameday.date|date("Y-m-d H:i")}}</td>
					<td>{{trade.gamedayBooking.type.name}}</td>
					<td>{{trade.gamedayBooking.user.cn}}</td>
					<td>{{trade.tradeAcceptedUser.cn}}</td>					
					<td><a data-toggle="modal" data-target="#myGamesModal" href="{{ path('_approve_trade_gamedaybooking', {'id': trade.id }) }}"><i class="fa fa-info"></i></td>
			{% endfor %}
			</table>
			{% else %}
		<h4>Det finns inget här just nu.. :(</h4>
	{% endif %}			
	</div>
	

</div>

</div>
</div>
<script src="{{ asset('js/js.js') }}"></script>
<script src="{{ asset('js/game_grade.js') }}"></script>
<script src="{{ asset('js/new_gamebooking_trade.js') }}"></script>
<script type="text/javascript">
       
</script>
{% endblock %}