<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Byte</title>
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
</head>

<body>
	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title">
            {{trade.gamedayBooking.type.name}}, {{trade.gamedayBooking.gameday.date|date("j/m H:i")}}
        </h5>
      </div>

<div class="trade_div" id="trade_content">
<p class ="trade_headline">Meddelande från {{trade.tradeUser.cn}}:</p>
    <p>{{trade.tradeMessage}}</p>

{{ form_start(form) }}
    {{ form_errors(form) }}
    <table id="gameday_booking_table">
        <tr>
            <th>
                {{ form_widget(form.save) }}
            </th>
        </tr>
        {{ form_end(form) }}
    </table>
</div>
<i class="fa fa-spinner fa-pulse fa-3x" id="spinner"></i>
<div class="trade_div">
<div class="alert alert-success" id="trade_success" role="alert">Bytet sparades! Ett mejl har skickats till en admin som måste godkänna bytet.</div>
</div>
<script type="text/javascript">
    acceptGamedayBookingTrade({{trade.id}}) 
</script>
</body>

</html>