<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Byte</title>
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
</head>

<body>
	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title">
            Godkänn byte
        </h5>
      </div>

<div class="trade_div" id="trade_content">
<p class="trade_headline">{{trade.gameBooking.type.name}} {{trade.gameBooking.game.datetime|date("Y-m-d H:i")}}</p>
<p class="trade_headline">{{trade.gamebooking.game.name}}</p>
<p> Byte från {{trade.tradeUser.cn}} till {{trade.tradeAcceptedUser.cn}} </p>
{{ form_start(form) }}
    {{ form_errors(form) }}
    <table id="gameday_booking_table">
        <tr>
            <th>
                {{ form_widget(form.save) }}
            </th>
        </tr>
        {{ form_end(form) }}
    </table>
</div>

<div class="trade_div">
<div class="alert alert-success" id="trade_success" role="alert">Bytet godkändes!</div>
</div>
<script type="text/javascript">
     approveGamebookingTrade({{trade.id}});
</script>
</body>

</html>