{% include 'home.html.twig' %}

{% block body %}
<div class="container">
<div class="row">
<div class="container-fluid">
               
    <div class="modal" id="myGamesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

            </div>
        </div>
    </div>
    <h3><i class="fa fa-exchange"></i> Byten <i class="fa fa-flag" id="green_flag" title="Godkänt byte"></i></h3> 
    <a href="{{path('_trade')}}">Byten</a> | <a href="{{path('_trade_accepted')}}">Avvaktande byten</a> | <a class="active_sublink" href="{{path('_trade_approved')}}">Genomförda byten</a>
</div>

   <div class="col-md-6">
    {% if trades != null %}
	<div class="panel panel-default" id="my_five_game_bookings">
			<div class="panel-heading" id="gametest_panel_heading">Matchbyten</div>

		<table class="table" id="trade_table">
				<tr>
					<th>Matchtid</th>
					<th>Match</th>
					<th>Typ</th>
					<th>Användare</th>
					<th>Accepterad</th>
					<th>Godkänd av</th>
				</tr>
			{% for trade in trades %}
				<tr>
					<td>{{trade.gamebooking.game.datetime|date("Y-m-d H:i")}}</td>
					<td>{{trade.gamebooking.game.name}}</td>
					<td>{{trade.gamebooking.type.name}}</td>
					<td>{{trade.tradeUser.cn}}</td>
					<td>{{trade.tradeAcceptedUser.cn}}</td>					
					<td>{{trade.tradeApprovedUser.cn}}, {{trade.tradeApprovedDate|date("Y-m-d H:i")}}</td>
			{% endfor %}
			</table>			
	</div>
	{% else %}
	<h4>Det finns inget här just nu.. :(</h4>
{% endif %}

</div>

  <div class="col-md-6">
    {% if gameday_trades != null %}
	<div class="panel panel-default" id="my_five_game_bookings">
			<div class="panel-heading" id="gametest_panel_heading">Matchdagsbyten</div>

		<table class="table" id="trade_table">
				<tr>
					<th>Matchdag</th>
					<th>Typ</th>
					<th>Användare</th>
					<th>Accepterad</th>
					<th>Godkänd av</th>
					
				</tr>
			{% for trade in gameday_trades %}
				<tr>
					<td>{{trade.gamedayBooking.gameday.date|date("Y-m-d H:i")}}</td>
					<td>{{trade.gamedayBooking.type.name}}</td>
					<td>{{trade.tradeUser.cn}}</td>
					<td>{{trade.tradeAcceptedUser.cn}}</td>					
					<td>{{trade.tradeApprovedUser.cn}}, {{trade.tradeApprovedDate|date("Y-m-d H:i")}}</td>
					
			{% endfor %}
			</table>			
	</div>
	{% else %}
	<h4>Det finns inget här just nu.. :(</h4>
{% endif %}

</div>

</div>
</div>
<script src="{{ asset('js/js.js') }}"></script>
<script src="{{ asset('js/game_grade.js') }}"></script>
<script src="{{ asset('js/new_gamebooking_trade.js') }}"></script>
<script type="text/javascript">
       
</script>
{% endblock %}