<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Byte</title>
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
</head>

<body>
	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title">
            Skapa byte
        </h5>
      </div>

<div class="trade_div" id="trade_content">

{{ form_start(form) }}
    {{ form_errors(form) }}
    <table id="gameday_booking_table">
        <tr>
            <th>
                {{ form_label(form.trade_message) }}
                {{ form_errors(form.trade_message) }}
                {{ form_widget(form.trade_message) }}
            </th>
        </tr>
        <tr>
            <th>
                {{ form_widget(form.save) }}
            </th>
        </tr>
        {{ form_end(form) }}
    </table>
</div>
<div class="trade_div">
<div class="alert alert-success" id="trade_success" role="alert">Ett nytt byte skapades!</div>
</div>
<script type="text/javascript">
    newGamebookingTrade({{gamebooking.id}}) 
</script>
</body>

</html>