<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Byte</title>
    
</head>

<body>
	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title">
            Ta bort byte
        </h5>
      </div>

<div class="trade_div" id="trade_content">
<p>Är du säker på att du vill ta bort dig själv från det här bytet?</p>


<button class="btn btn-danger" id="remove_trade_button">Ta bort</button>

</div>
<div class="trade_div">
<div class="alert alert-success" id="trade_success" role="alert">Du togs bort från bytet!</div>
</div>
<script type="text/javascript">
    undoGamedayBookingTrade({{trade.id}})
</script>
</body>

</html>