{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
	 <h2 class="form-signin-heading">SES-CMS</h2>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label class="sr-only" for="username">{{ 'security.login.username'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" placeholder="Användarnamn" />

    <label class="sr-only" for="password">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" class="form-control" placeholder="Lösenord" />

  	<button class="btn btn-lg btn-primary btn-block" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" type="submit">Logga in</button>
    
</form>


   

{% endblock fos_user_content %}



