{% include 'home.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    
<div class="container">
        <div class="row">
            <div class="col-lg-10">
               
    <h3><i class="fa fa-bar-chart"></i> Rapport</h3>
    


    {{ form_start(form) }}
    {{ form_errors(form) }}
    <table class="table" id="rapport">
        <tr>
            <td>
                {{ form_label(form.user) }}
                {{ form_widget(form.user) }}
                {{ form_errors(form.user) }}
            </td>
            <td>{{ form_label(form.start_date) }}
                {{ form_widget(form.start_date) }}
                {{ form_errors(form.start_date) }}

            </td>
            <td>
                {{ form_label(form.end_date) }}
                {{ form_widget(form.end_date) }}
                {{ form_errors(form.end_date) }}
            </td>
            <td>{{ form_widget(form.save) }} </td>
        </tr>
        {{ form_end(form) }}
    </table>    

{% if gameday_bookings is defined and gameday_bookings|length != 0 %}
<div class="panel panel-default" id="div_total">
    <div class="panel-heading" id="report_total_count">
        {% for type in gameday_types %}
            {% if type.cmh %}CMH({{type.cmh}}){% endif %} 
            {% if type.livered %}Livered({{type.livered}}){% endif %} 
            {% if type.fls %}FLS({{type.fls}}) {% endif %}
            {% if type.wf %}WF({{type.wf}}){% endif %} 
            {% if type.other %}Övrigt({{type.other}}){% endif %}
    {% endfor %}</div>
    <table class="table" id="show_total">
        <tr>
            <th>Datum</th>
            <th>Typ</th>
        </tr>
        {% for booking in gameday_bookings %}
            <tr>
                <td>{{booking.gameday.date|date("Y-m-d H:i")}}</td>
                <td>{{booking.type.name}}</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endif %}

{% if game_bookings is defined and game_bookings|length != 0 %}
<div class="panel panel-default" id="div_total">
    <div class="panel-heading" id="report_total_count">
        {% for type in game_types %} 
            {% if type.highlights %}Highlights({{type.highlights}}){% endif %}
            {% if type.other %} Övrigt({{type.other}}){% endif %}
        {% endfor %}
    </div>
    <table class="table" id="show_total">
        <tr>
            <th>Datum</th>
            <th>Match</th>
            <th>Typ</th>
        </tr>
        {% for booking in game_bookings %}
            <tr>
                <td>{{booking.game.datetime|date("Y-m-d H:i")}}</td>
                <td>{{booking.game.name}}</td>
                <td>{{booking.type.name}}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
{% if gameday_bookings is defined and gameday_bookings|length == 0 and game_bookings|length == 0 %}
    <h5> Inga resultat hittades..</h5>
{% endif %}
</div>
</div>
</div>

{% endblock %}

