{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{% if test is defined %}
{{test}} {{start_date|date("Y-m-d")}} {% for booking in  gameday_bookings %} {{booking.id}} {% endfor %}
{% endif %}

{% include 'home.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    
<div class="container">
        <div class="row">
            <div class="col-lg-10">
               
    <h3><i class="fa fa-bar-chart"></i> Rapport</h3>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <table class="table" id="rapport">
        <tr>
            <td>
                {{ form_label(form.user) }}
                {{ form_errors(form.user) }}
                {{ form_widget(form.user) }}
            </td>
            <td>{{ form_label(form.start_date) }}
                {{ form_errors(form.start_date) }}
                {{ form_widget(form.start_date) }}

            </td>
            <td>
                {{ form_label(form.end_date) }}
                {{ form_errors(form.end_date) }}
                {{ form_widget(form.end_date) }}

            </td>
            <td>{{ form_widget(form.save) }} </td>
            <td><i class="fa fa-spinner fa-spin fa-3x" id="spin"></i></td>
        </tr>
        {{ form_end(form) }}
    </table>    
    
    <div class="no_results">Inga resultat hittades..</div>
   <div class="panel panel-default" id="div_gameday">
    <div class="panel-heading" id="report_gameday_count"></div>
    <table class="table" id="show_gameday">
        <tr>
            <th>Datum</th>
            <th>Typ</th>
        </tr>
    </table>
</div>

   <div class="panel panel-default" id="div_game">
    <div class="panel-heading" id="report_game_count"></div>
    <table class="table" id="show_game">
        <tr>
            <th>Datum</th>
            <th>Typ</th>
        </tr>
    </table>
</div>

   <div class="panel panel-default" id="div_total">
    <div class="panel-heading" id="report_total_count">Totalt</div>
    <table class="table" id="show_total">
        <tr>
            <th>Highlights</th>
            <th>CMH</th>
            <th>Livered</th>
            <th>FLS</th>
            <th>Övrigt</th>
        </tr>
    </table>
</div>
</div>
</div>
</div>
<script src="{{ asset('js/report.js') }}"></script>
{% endblock %}

