{% include 'home.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}





	<div class="container">
		<h3><i class="fa fa-users"></i> Admin</h3>
			<div class="panel-body">
        <div class="row">
            <div class="col-lg-10">
   
   				{{ form_start(form) }}
				{{ form_widget(form) }}
				{{ form_end(form) }}
                
            </div>
        </div>
     </div>
</div>




