{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}




<div class="container">
<div class="col-lg-4">
<div class="row">	
<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    
	
{{ form_widget(form) }}

  

    
   
    





    <div>
        <button type="submit" value="{{ 'profile.edit.submit'|trans }}" class="btn btn-primary">Spara</button>
    </div>
    {{ form_rest(form) }}
</form>
</div>
</div>
</div>


