{% include 'home.html.twig' %}



   
      

{% for users in users %}
	<div class="container">
			<div class="panel-body">
        <div class="row">
            <div class="col-lg-10">
        <img src="{{ vich_uploader_asset(users, 'imageFile') }}" alt="{{ users.imageName }}" class="img-circle">      
		<h1>{{ users.cn }} <small>{{ users.title }}</small></h1>
		<p class="lead">{{ users.about }}</p>
		<h4>{{ users.email }} <br> <small>{{ users.telephone }}</small></h4>
            </div>
        </div>
     </div>
</div>
{% endfor %}


     