{% trans_default_domain 'FOSUserBundle' %}








	<div class="container">
			<div class="panel-body">
        <div class="row">
            <div class="col-lg-10">
                  <h3><i class="fa fa-user"></i> Profil</h3>
              <img src="{{ vich_uploader_asset(user, 'imageFile') }}" alt="{{ user.imageName }}" class="img-circleall">
                <h2>{{ user.cn }}</h2>
                <p><strong>Titel: </strong> {{ user.title }} </p>
                <p><strong>Om mig: </strong> {{ user.about }} </p>
                <p><strong>Kontakt: </strong> {{ user.telephone }} </p>
                <a href="{{ path('fos_user_profile_edit') }}">Redigera</a> <br>
                <a href="http://highlightskalender.fryksborn.se/" target="_blank">Highlight Kalender</a>
            </div>
        </div>
     </div>
</div>

