{% include 'home.html.twig' %}

{% block body %}

<div class="container">
	<div class="row">
        <div class="container-fluid">
	       <h3><i class="fa fa-pencil-square-o"></i> Anslagstavlan</h3>
	
    
    		    {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-success">Spara</button>
                {{ form_end(form) }}
            </div>
	    </div>
    </div>

{% endblock %}


