{% extends 'home.html.twig' %}

{% block body %}
<div class="container">

    <div class="row" id="home_row">
        <div class="col-xs-12 col-md-8" id="message_div">

            {% for messages in latest_message %}
                <h3><i class="fa fa-envelope-o"></i> <a class="black_link" href="{{ path('_show_message', {'id': messages.id}) }}">{{ messages.headline }}</a></h3>
                {{messages.message|length > 1 ? messages.message|striptags|slice(0, 550) ~ '...' : messages.message}}
                <a href="{{ path('_show_message', {'id': messages.id}) }}"><i class="fa fa-angle-double-right"></i> Läs mer</a>
                <h5>- <i>{{messages.user.cn}}, {{messages.date|date("Y-m-d H:i")}}</i></h5>
            {% endfor %}
        </div>
                
        <div class="col-xs-6 col-md-4" id="last_messages">
            <h3><i class="fa fa-envelope"></i> <a class="black_link" href="{{path('messages')}}">Meddelanden</a></h3>
            <table class="table">
                {% for message in latest_five %}
                    <tr>
                        <td>
                            <a href="{{ path('_show_message', {'id': message.id}) }}">{{ message.headline|length > 40 ? message.headline|striptags|slice(0, 40) ~ '...' : message.headline }} </a> 
                        </td>
                        <td>{{message.date|date("j/m H:i")}} 
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </div>

    {% set show_board = true %}
    {% for message in board_message %}
        {% if message.boardmessage == "" %}
            {% set show_board = false %}
        {% else %}
            {% set show_board = true %}
        {% endif %}
    {% endfor %}
    {% if show_board %}
    <div class="row" id="message_div">
        <div class="container-fluid">
            <h3><i class="fa fa-pencil-square-o"></i> <a class="black_link" href="{{ path('messageboard', { 'id': 1 }) }}">Anslagstavlan</a></h3>
            {% for message in board_message %}
                {{ message.boardmessage | raw }}
            
            <h5>- <i>{{message.user.cn}}</i></h5>
                {% endfor %}
            <a href="{{ path('messageboard', { 'id': 1 }) }}"><i class="fa fa-angle-double-right"></i> Till anslagstavlan</a>
        </div>
    </div>
    {% endif %}


    <div class="row" id="home_row">
            {% if trades|length != 0 or gameday_trades|length != 0 %}
        <div class="col-xs-6 col-md-4" id="last_messages">
            <h3><i class="fa fa-exchange"></i> <a class="black_link" href="{{ path('trade') }}">Byten</a></h3>
                <div class="panel panel-default" id="my_five_game_bookings">
                    <div class="panel-heading" id="gametest_panel_heading">Byten</div>

                    <table class="table" id="trade_table">
                <tr>
                    <th><i class="fa fa-clock-o"></i> Datum & tid</th>
                    
                    <th>Typ</th>
                    <th>Användare</th>
                    <th><i class="fa fa-caret-square-o-right"></i> Match</th>
                    
                </tr>
            {% for trade in trades %}
                <tr>
                    <td>{{trade.gamebooking.game.datetime|date("j/m H:i")}}</td>
                    
                    <td>{{trade.gamebooking.type.name}}</td>
                    <td class="show_name">{% if trade.gamebooking.user == user %} <a id="current_user"><i class="fa fa-user"></i> {{trade.gamebooking.user.cn}} {% else %} {{trade.gamebooking.user.cn}}{% endif %} <i class="fa fa-flag" id="red_flag" title="Byte som ingen tagit ännu"></i></a></td>                 
                    <td>{{trade.gamebooking.game.name}}</td>
                </tr>
            {% endfor %}
                <tr>
            {% for trade in gameday_trades %}
                <td>{{trade.gamedayBooking.gameday.date|date("j/m H:i")}}</td>
                
                <td>{{trade.gamedayBooking.type.name}}</td>
                <td class="show_name">{% if trade.gamedayBooking.user == user %} <a id="current_user"><i class="fa fa-user"></i> {{trade.gamedayBooking.user.cn}} {% else %}{{trade.gamedayBooking.user.cn}} {% endif %} <i class="fa fa-flag" id="red_flag" title="Byte som ingen tagit ännu"></i></a></td>
                <td></td>
            </tr>
            {% endfor %}            
                </table>
                </div>
            </div>
{% endif %}
        <div class="col-xs-12 col-md-8">
            <h3><i class="fa fa-gg"></i> <a class="black_link" href="{{path('games')}}">Aktuella matcher</h3></a>
                <div id="all_future_games">
                    {% for gameday in todays_gamedays %}

                        <div class="panel panel-default" id="game_index_panel">
                            <div class="panel-heading" id="gametest_panel_heading"><i class="fa fa-calendar-o"></i> {{gameday.date|date("Y-m-d")}}
                            </div>
                
                            <table class="table" id="game_table">
                                <tr>
                                    <th><i class="fa fa-clock-o"></i> Tid</th>
                                    <th><i class="fa fa-caret-square-o-right"></i> Match</th>
                                    <th><i class="fa fa-film"></i> Highlights</th>
                                </tr>
                                {% for game in gameday.game %}
                                <tr>
                                    <td>{{ game.datetime|date('H:i')}}</td>
                                    <td>{{game.name}}</td> 
                                    {% for type in game.gamesTypes %}
                                        <td class="show_name" id="game_td-{{game.id}}">
                                        {% for booking in type.game.gameBooking %}</a>
                                            {% if booking.user == user %} 
                                                <a id="current_user"><i class="fa fa-user"></i> {{booking.user.cn}}
                                                {% include 'flags.html.twig' %}
                                            </a>
                                            {% else %}
                                                {{booking.user.cn}}
                                            {% include 'flags.html.twig' %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                        </td>
                                </tr>
                    {% endfor %}
                        </table>            

                        <table class="table" id="types_table">
                            <tr id="gameday_tr-{{gameday.id}}">

                                {% for booking in gameday.gamedayBooking %}
                                    <th id="gameday_th-{{booking.id}}">
                                    {% if booking.type.id == 3 %}
                                        <i class="fa fa-align-left"></i>
                                    {% elseif booking.type.id == 2 %}
                                        <i class="fa fa-television"></i>
                                    {% elseif booking.type.id == 4 %}
                                        <i class="fa fa-phone"></i>
                                    {% elseif booking.type.id == 5 %}
                                        <i class="fa fa-signal"></i>
                                    {% endif %}
                                    {{booking.type.name}}: 
                                    {% if booking.user.cn is defined %} 
                                        {% if booking.user == user %}
                                            <a id="current_user"><i class="fa fa-user"></i> {{booking.user.cn}}</a>
                                        {% else %}
                                            <a>{{booking.user.cn}}</a>
                                    {% endif %}
                                    {% endif %}
                                    {% include 'flags.html.twig' %}
                                {% endfor %}
                                    </th>
                        </table>
                        </div>
                    {% endfor %}
                </div>
            </div>
</div>
        </div>    

               <!-- <h2 class="page-header">Highlightkalender</h2>
                {% for gameday in todays_gamedays %}
                    {{gameday.id}}
                {% endfor %} 

    <a class="btn btn-primary btn-lg external" id="calendar_button" data-toggle="modal" href="http://highlightskalender.fryksborn.se/" data-target="#myModal"> Klicka här</a>-->
<!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-body">
      </div>
     </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


        </div>

</div>


<div id="footer">
      <div class="container">
        <p class="muted credit">Du är inloggad som <a href="{{ path('fos_user_profile_show') }}">{{ app.user.cn }}</a> 
      </div>
    </div>


 
{% endblock %}


