{% include 'home.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="container-fluid">
            <h3><i class="fa fa-envelope"></i> Meddelanden</h3>
            <div class="panel panel-default" id="game_index_panel">
                            <div class="panel-heading" id="gametest_panel_heading">Meddelanden
                            </div>
  <table class="table" id="game_table">
      <tr>
        <th>Rubrik</th>
        <th>Användare</th>
        <th>Skapad</th>
         {% if is_granted('ROLE_ADMIN') %}
        <th>Ändra</th>
        <th>Ta bort</th>
        {% endif %}
      </tr>
    {% for message in messages %}

    <tr>
        <td><a href="{{ path('_show_message', {'id': message.id}) }}"> {{ message.headline }}</a></td>
        <td>{{ message.user.cn }}</td>
        <td>{{ message.date|date('Y-m-d H:i') }}</td>
        {% if is_granted('ROLE_ADMIN') %}
        <td><a href="{{ path('_update_message', {'id': message.id}) }}"><button type="button" class="btn btn-primary" id="update_message">Ändra</button></a></td>
        <td><a href="{{ path('_delete_message', {'id': message.id}) }}"><button type="button" class="btn btn-danger" id="delete_message">Ta bort</button></a></td>
        {% endif %}

      </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>
</div>
</div>
</div>





</html>



{% endblock %}


