{% include 'home.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="container-fluid">
            <h3><i class="fa fa-envelope-o"></i> {{ message.headline| raw }}</h3>
		    <p>{{ message.message| raw }}</p>
		    <h5>- <i>{{message.user.cn}}, {{message.date|date("Y-m-d H:i")}}</i></h5>
        </div>
        <h5><a href="{{path('homepage')}}">Till startsidan</a></h5>
        <h5><a href="{{path('_messages')}}">Till meddelanden</a></h5>
    </div>
</div>

{% endblock %}




