{% include 'home.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}

<div class="container">
	<div class="row">
	<div class="container-fluid">
		<h3><i class="fa fa-envelope-o"></i> Ändra meddelande</h3>
    	
		    
		    {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-success">Skicka</button>
            {{ form_end(form) }}



        	
		</div><!-- Widget Area -->
	</div>
    
</div>




</html>



{% endblock %}


