#test {
    border: solid 1px;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}

.table {
    font-size: 12px;
}

#game {
    border: 1;
}

.panel-primary {
    width: 50%;
    border-color: #ddd;
}

.panel-default>.panel-heading {
    color: #FFFFFF;
    background-image: linear-gradient(to bottom, gray 0, black 100%);
    padding: 3px 5px;
    border: 0;
    font-weight: bold;
}

td.active {
    background: black;
    color: white;
}

.form-control {
    width: auto;
}



#show_gameday {
    table-layout: fixed;
}
#show_game {
    table-layout: fixed;
}
#show_total {
    table-layout: fixed;
}

.modal-header {
    background-image: linear-gradient(to bottom, gray 0, black 100%);
    color: #fff;
}

.game_modal {
    padding: 5px;
}

#game_th {
    padding: 3;
}

#delete_booking_button {
    padding: 1px 1px;
    border-radius: 2px;
    font-weight: 350;
    font-size: 11px;
}

.btn-default {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    border-radius: 2px;
}

.btn-default:active {
    color: #5cb85c;
    background-color: #5cb85c;
    border-color: #4cae4c;
    border-radius: 2px;
}

.btn-default:hover {
    color: #fff;
    background-color: #52A552;
    border-color: #4cae4c;
}

#hej {
    font-size: 14px;
}
a {
    color: #009BE0;
    font-weight: bold;
}

#remove_cmh_button {
    padding: 1px 1px;
    border-radius: 2px;
    font-weight: 350;
    font-size: 11px;
}
#remove_grade_button {
    padding: 1px 1px;
    border-radius: 2px;
    font-weight: 350;
    font-size: 11px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 3px;
}

.highlight_active {
    color: #004969;
}
.remove_success>a {
    background-color: #d9534f;
    border-color: #D43F3A 1px;
    border-radius: 4px;
    color: #fff;
}
.update_success>a {
    background-color: #dff0d8;
    border-color: #d6e9c6 1px;
    border-radius: 4px;
    color: #3c763d;
}
.update_failed>a {
    color: red;
}

.rapport_submit {
    margin-top: 22px;
    color: #fff;
    border-color: #2e6da4;
    background-color: #337ab7;
    border-radius: 3px;
    padding-left: 20px;
    padding-right: 20px;
}

.upcoming_games_active {
    color: #000000;
}

.modal_highlight {
    padding: 10px;
}

#modal_save {
    margin-top: 5px;
}

#red_flag {
    color: rgb(232, 23, 23);
}

#yellow_flag {
    color: #DAC51C;
}

#green_flag {
    color: #00B900;
}

textarea.form-control {
    width: 100%;
    height: 100px;
}

.trade_no_message {
    font-style: italic;
}

#trade_well {
    background-color: #fff;
    border: 0px;
}

#trade_button {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    border-radius: 2px;
}

.not_user {
    opacity: 0.5;
}

#modal_close {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    border-radius: 2px;
}

#gametest_table {
    font-size: 13px;

}

#gametest_ul {
    font-size: 13px;
    padding: 3px 5px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #B9B9B9;
    
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {

    border-top: 1px dotted #ddd;
}

#new_user {
    color: #009BE0;
}

#types_table th {
    text-align: center;
    border-top: 1px solid #B9B9B9;
    border-bottom: 1px solid #B9B9B9;
    
}

#game_table th {
    border-bottom: 1px solid #B9B9B9;
}

#game_table td a {
    display:block;
    width:100%;
}

#booking_button {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    border-radius: 3px;
}

.dropdown-menu {
    color: black;
}

.modal_gameday_booking {
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#gameday_booking_table {
    border-collapse: separate;
}

.modal-footer {
    padding: 4px;
}

#booking_check {
    color: #5cb85c;
}

#booking_cross {
    color: #d9534f;
}

#gameModal {
    top:35%;
    left:41%;
    outline: none;
}

#myGamesModal {
    top:10%;
    
    outline: none;
}

#gameday_booking_table {
    border-spacing: 3px;
}

.modal-backdrop, .modal-backdrop.fade.in {
     background-color: rgba(0,0,0,0);
}

.show_name {
    color: #009BE0;
    font-weight: bold;
}

#game_table tr:nth-child(even) {
   background-color: #F2F2F2;
}

.panel {
    margin-bottom: 0px;
    border-radius: 0px;
    border: 1;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

}

#game_table {
    table-layout: fixed;
}

#gametest_panel {
    width: 75%;
}

.close {
    color: white;
}

.active_sublink {
    color: #224E75;
    text-decoration: underline;
}

#current_user {
    color: #9C27B0;

}

#rapport>tbody>tr>td {
    border-top: 0px dotted #ddd;
}
#rapport th {
    border-bottom: 1px solid #B9B9B9;
}
#rapport {
    
    max-width: 75%;
    margin-bottom: 0;
    border: 0;
    text-align: left;
}
.fa-spinner {
    margin-top: 22px;    
}
#report_check {
    color: #5cb85c;
    margin-top: 22px;
}

#trade_table tr:nth-child(even) {
   background-color: #F2F2F2;
}

#trade_table th {
    border-bottom: 1px solid #B9B9B9;
}

#trade_table td {
    border-right: 0px dotted #B9B9B9;
    border-left: 0px dotted #B9B9B9;
}

#trade_table td a {
    display:block;
    width:100%;
}

.trade_headline {
    font-weight: bold;
}

.trade_div {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.error_list {
    color: red;
}

#completed_game_bookings_start {
    margin-bottom: 15px;
}

#my_five_game_bookings {
    margin-bottom: 15px;
}

.black_link {
    color: #323232;
    font-weight: normal;
}
.black_link:hover {
    color: #323232;
    font-weight: normal;
}

#undo_booking_button {
    padding: 1px 1px;
    border-radius: 2px;
    font-weight: 350;
    font-size: 13px;
}

#remove_trade_button {
    border-radius: 2px;
}

.user_td {
    color: purple;
    font-weight: bold;
}
#exclamation {
    background-color: #009BE0;
}

@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        margin-bottom: 3%;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
>>>>>>> 60b97d917badc040ea1d61bf9a5ed6ac4199ddcd
}
@media (max-width: 768px) {
    body {
        padding-top: 60px;
    }
} 
